.i-twitch {
  width: 17px;
  height: 21px;
  fill: white;
}

.i-yt {
  width: 29px;
  height: 21px;
  fill: white;
}

.i-vk {
  width: 21px;
  height: 21px;
  fill: white;
}

.i-tg {
  width: 21px;
  height: 21px;
  fill: white;
}

.i-ds {
  width: 27px;
  height: 21px;
  fill: white;
}

.i-cross {
  width: 28px;
  height: 28px;
  fill: white;
  fill-opacity: .5;
}

.i-arrow {
  width: 50px;
  height: 50px;
  fill: white;
}