.footer {
	padding: 40px 0;
	background: $dark;

	.social-links {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 10px;

		&__title {
			margin-right: 40px;
		}

		&__link {
			display: block;
			padding: 5px;
		}
	}
}